
**/__pycache__/
/build
/dist
/venv
/client.spec
/server/.htaccess
/server/files/.htaccess
/server/files/.htpasswd
/server/files/users.json
/server/files/server.ini
/server/files/public/
/server/files/private/
/client/restic*
/client/conf-*
/client/network.ini
/client/profiles.toml
/client/password.txt
