
**/__pycache__/
**/.htaccess
**/.htpasswd
/build
/dist
/venv
/client.spec
/server/.htaccess
/server/files/users.json
/server/files/server.ini
/server/files/public/
/server/files/private/
/client/restic*
/client/conf-*
/client/log.txt
/client/client.ini
/client/profiles.yaml
/client/password.txt
